 @import '../../bower_components/bourbon/dist/bourbon';
 @import '../../bower_components/neat/app/assets/stylesheets/neat';
 $logofont: 'Lobster',
 cursive;
 $mobile: new-breakpoint(max-width 750px 4);
 $gigs: new-breakpoint(max-width 800px 4);
 body {
     color: white;
     width: 100%;
     height: auto;
     background: url(/images/FadoLarge.jpg) top right no-repeat;
     // background: url(/images/grayfado.jpg) top right no-repeat;
     background-attachment: fixed;
     background-size: cover;
     font-family: 'Karla', sans-serif;
 }
 
 #container {
     width: 90%;
     background-color: hsla(0, 0%, 0%, 0.6);
     margin: 0 auto;
 }
 
 // ********************* Header Styles  ********************* 
 header {
     height: 70px;
     background-color: hsla(0, 0%, 0%, 0.6);
     .headLeft {
         display: inline-block;
         float: left;
         margin-left: 5%;
         img {
             width: 150px;
             margin-top: -34px;
             position: absolute;
             z-index: 1;
         }
     }
     .headRight {
         display: inline-block;
         margin-right: 5%;
         float: right;
         padding: 18px;
         font-size: 1.4em;
     }
     a {
         padding: 15px;
         text-decoration: none;
         color: white;
         cursor: pointer;
         &:hover {
             text-shadow: 1.5px 1.5px #972822;
         }
     }
     //Mobile Nav
     nav {
         display: none;
         .nav li {
             display: block;
         }
     }
 }
 
 // ********************* Home Page Styles  ********************* 
 .homepage {
     width: 100%;
     height: 449px;
     .promo {
         display: block;
         text-align: center;
         padding-top: 10px
     }
     iframe {
         border: 5px solid hsla(0, 0%, 100%, 0.7);
         border-radius: 10px;
         padding: 5px;
     }
 }

 .abouthome {
    margin: 0 auto; 
    text-align: center; 
    width: 60%;

    p {
        font-size: 1.5em;
    }

 }
 
 .bandname {
     height: auto;
     text-align: center;
     vertical-align: center;
     font-size: 2.2em;
     width: 75%;
     margin: 0 auto;
     font-family: $logofont;
     h2 {
         padding-top: 10px;
         margin: 0;
                      text-shadow: 1.5px 1.5px #972822;

     }
     .s {
        font-family: Condiment;
        font-size: 1.9em;
        padding-right: 6px;
             text-shadow: 1.5px 1.5px #972822;
     }

 }
 
 .quote {
     height: auto;
     text-align: center;
     vertical-align: center;
     font-size: 1.6em;
     width: 75%;
     margin: 0 auto;
     font-family: $logofont;
     h2 {
         padding-top: 0px;
         margin: -45px;
         margin-bottom: 10px;
                      text-shadow: 1.5px 1.5px #972822;

     }
 }
 
 .liveSocial {
     @include outer-container;
     margin-left: auto;
     margin-right: auto;
     height: 500px;
     .upcominggigs {
         @include span-columns(6);
         @include media($mobile) {
             @include span-columns(4);
         }
         text-align: center;
         height: 425px;
         overflow: auto;
         padding-left: 8px;
         h2 {
             text-decoration: underline;
             font-family: $logofont;
         }
         h4 {
             font-size: 1.2em;
         }
         a {
             color: #7ad149;
             &:hover {
                 color: red;
             }
         }
     }
     .upcominggigs::-webkit-scrollbar {
         display: none;
     }
     .twitterFeed {
         @include span-columns(6);
         @include media($mobile) {
             @include span-columns(4);
             display: none;
         }
         height: 425px;
         padding-right: 8px;
         border-radius: 10px;
         // overflow: auto;
         h2 {
             text-decoration: underline;
             text-align: center;
             font-family: $logofont;
         }
     }
 }
 
 .twitterFeed::-webkit-scrollbar {
     display: none;
 }


 .mailinglist {
     form {
         width: 300px;
         height: 200px;
         padding: 10px;
         margin: 10px auto;
         text-align: center;
     }
     .header {
            margin: 0;
         font-family: $logofont;
         font-size: 1.45em;
     }
     .afters {
         margin-top: 35px;
         font-family: $logofont;
         font-size: 1.6em;

         
     }

     .whereSS{
           font-size: 0.7em;
           margin-top: 10px;
        a{
           color: #7ad149;
             &:hover {
                 color: red;
             }
         }
     }
     .make {
         margin: 0 0 10px;
     }
    .emailput {
         border-radius: 3px;
         border: none;
         height: 33px;
         padding-left: 5px;
         color: black;
         width: 250px;
         text-align: center;
     }
     
     #subbtn {
         margin-top: 10px;
         color: black;
         height: 33px;
         width:100px;
         border-radius: 3px;
         background-color:#e5e5e5;
         border:none;
     }
 }



 
 // ********************* Live Page Styles  ********************* 
 .livepage {
     margin: 0 auto;
     text-align: center;
     height: auto;
     padding-bottom: 100px;
     h2 {
         padding-top: 20px;
         font-family: $logofont;
         font-size: 1.7em;
     }
     .listGigs {
         // @include outer-container;
         // @include media($gigs) {
         //     @include span-columns(4);
         // }
         // float: left;
         margin: 0 auto;
         // margin-left: 3%;
         padding-bottom: 20px;
         width: 90%;
         height: 150px;
         overflow: auto;
         padding-right: 5px;
         padding-left: 5px;
         a {
             color: #7ad149;
             &:hover {
                 color: red;
             }
         }
     }
     .listGigs::-webkit-scrollbar {
         display: none;
     }
     .livebottom {
         @include outer-container;
         clear: both;
         .pastgigs {
             @include span-columns(6);
             @include media($mobile) {
                 @include span-columns(4);
             }
             height: 450px;
             overflow: auto;
             margin-bottom: 40px;
         }
         .songlist {
             @include span-columns(6);
             @include media($mobile) {
                 @include span-columns(4);
             }
             height: 450px;
             overflow: auto;
         }
     }
 }
 
 .pastgigs::-webkit-scrollbar {
     display: none;
 }
 
 .songlist::-webkit-scrollbar {
     display: none;
 }


//*********************** Slide Show ********************



 // ********************* Media Styles  ********************* 
 .mediapage {
     margin: 0 auto;
     text-align: center;
     height: auto;
     padding-bottom: 20px;
     h2 {
         padding-top: 20px;
         font-family: $logofont;
         font-size: 1.9em;
     }
     iframe {
         border: 3px solid hsla(0, 0%, 90%, 0.5);
         padding: 5px;
         margin-bottom: 10px;
         border-radius: 10px;
         width: 506px;
         height: 315px;
     }
 }

 .imglinkd{

ul[rn-carousel] {
    width: 600px;
    margin: 0 auto;
    height:400px;
    // border: 3px solid hsla(0, 0%, 90%, 0.5);
    // padding: 5px;
         margin-bottom: 10px;
         // border-radius: 10px;
}


ul[rn-carousel] > li {

    img {
        max-width:100%;
        max-height:100%;
        border-radius: 10px;
        border: 3px solid hsla(0, 0%, 90%, 0.5);
        padding: 5px;


    }
}

.rn-carousel-control.rn-carousel-control-next {
    margin-top: -100px;
    margin-right: 18%;

}

.rn-carousel-control.rn-carousel-control-prev {
    margin-top: -100px;
    margin-left: 18%;
}
}



 .vidlinkd{

ul[rn-carousel] {
    width: 600px;
    margin: 0 auto;
    height:400px;
    margin-bottom: 10px;
         
}


ul[rn-carousel] > li {

    img {
        max-width:100%;
        max-height:100%;
        border-radius: 10px;
        border: 3px solid hsla(0, 0%, 90%, 0.5);
        padding: 5px;


    }
}

.rn-carousel-control.rn-carousel-control-next {
    margin-top: 400px;
    margin-right: 18%;

}

.rn-carousel-control.rn-carousel-control-prev {
    margin-top: 400px;
    margin-left: 18%;
}
}



 
 // ********************* About Styles  ********************* 
 .about {
     margin: 0 auto;
     text-align: center;
     height: auto;
     padding-bottom: 100px;
     h2 {
         padding-top: 15px;
         font-family: $logofont;
         margin: 0;
     }
     h4 {
         margin: 0;
         padding-bottom: 10px;
         font-family: $logofont;
     }
     p {
         max-width: 600px;
         padding-top: 10px;
         padding-left: 12px;
         padding-right: 10px;
         text-align: center;
         margin: 0 auto;
         font-size: 1.1em;
     }
     img {
         width: 150px;
         border-radius: 30px;
         transition: ease 1s;
     }
 }
 
 .doug {
     .dougp {
         display: none;
     }
 }
 
 .doug:hover {
     .dougp {
         display: block;
         transition: all 2s;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 .david {
     .davidp {
         display: none;
     }
 }
 
 .david:hover {
     .davidp {
         display: block;
         transition: all 2s;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 .julie {
     .juliep {
         display: none;
     }
 }
 
 .julie:hover {
     .juliep {
         display: block;
         transition: all 2s;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 .jason {
     .jasonp {
         display: none;
     }
 }
 
 .jason:hover {
     .jasonp {
         display: block;
         transition: all 2s;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 .andy {
     .andyp {
         display: none;
     }
 }
 
 .andy:hover {
     .andyp {
         display: block;
         transition: all 2s;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 .mike {
     .mikep {
         display: none;
         transition: all 2s;
     }
 }
 
 .mike:hover {
     .mikep {
         transition: all 2s;
         display: block;
     }
     img {
         transform: rotate(5deg);
         transition: all 2s;
     }
 }
 
 // ********************* Contact Page Styles  ********************* 
 .contactpage {
     height: 700px;
     width: 100%;
     .formwo {
         width: 90%;
         max-width: 700px;
         display: block;
         margin: 0 auto;
         padding-top: 50px;
         padding-right: 2px;
         text-align: center;
         .wufoo .info h2 {
             font-family: $logofont
         }
     }
 }
 
 // ********************* Footer Styles  ********************* 
 footer {
     margin-top: 60px;
     height: 80px;
     background-color: hsla(0, 0%, 0%, 0.6);
     .socialicons {
         color: white;
         padding-top: 16px;
         text-align: center;
         margin: 0 auto;
         a {
             color: white;
             padding: 10px;
             &:hover {
                 text-shadow: 2px 2px #972822;
             }
         }
         p {
             margin: 2px auto;
         }
     }

     

 }
 
 // ********************* ALL MEDIA Queires  ********************* 
 @media (max-width: 950px) {
     .headRight a {
         display: none;
     }
     header {
         background-color: hsla(0, 0%, 0%, 0.8);
         nav {
             display: block;
         }
         .nav {
             display: none;
             position: relative;
             float: right;
             font-size: 30px;
             background-color: hsla(0, 0%, 0%, 0.8);
             width: 100%;
             text-align: center;
             margin: 2px auto 10px auto;
             li {
                 padding: 5px;
             }
         }
         .nav-btn {
             display: block;
             cursor: pointer;
             float: right;
             padding-top: 20px;
             margin-bottom: 16px;
             margin-right: -39px;
         }
         .btn-img {
             margin-right: 10px;
             margin-top: 50px;
             width: 30px;
             height: 23px;
         }
     }
 }
 
 @media (max-width: 600px) {
     .mediapage {
         iframe {
             width: 400px;
             height: 200px;
         }
     }
     .homepage {
         height: auto;
         iframe {
             width: 270px;
             height: 200px;
         }
     }
 }
 
 @media (max-width: 500px) {
     header {
         .headLeft {
             display: inline-block;
             float: left;
             margin-left: 5%;
             img {
                 width: 100px;
                 margin-top: -15px;
             }
         }
         .nav {
             font-size: 20px;
         }
     }

     .bandname{
        h2{
        font-size: 0.8em;
        }
     }

 .quote {
    font-size: 1em;
    margin-top:20px;
    width: 60%;
 }
 }
 
 @media (max-width: 460px) {
     .mediapage {
         iframe {
             width: 270px;
             height: 150px;
         }
     }
     footer .socialicons p {
         font-size: 13px;
     }
 }
 
 @media (max-width: 340px) {
     .contactpage {
         .formwo {
             width: 98%;
             max-width: 300px;
             margin: 0 auto;
             padding-top: 50px;
             text-align: center;
         }
     }
 }
