 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

header{

  height: 70px;
  background-color: hsla(180,0%,60%,1);
  .headLeft{
    display: inline-block;
    float: left;
  h2{
    margin: 0;
  }
}

  .headRight{
    display: inline-block;
    float: right;
    padding: 15px;
    font-size: 1.4em;
  }
  a {
    padding: 5px;
  }
}




footer {
  height: 80px;
}