
    <div class="about">
      <h2> About Secret Sauce </h2>
        <p>Secret Sauce delivers high-energy party rock covers for any occasion… you’ll know every word to every song. (The more you drink, the better we sound!) </p>

<br>

         <div class="doug band">
          <img src="http://f.cl.ly/items/37452j18143Z1Z3b063g/Image%202015-03-08%20at%208.08.05%20PM.png"/>

          <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h2>Doug Moore</h2>
          <h4>Lead Guitar</h4>
         </div>
  


          <div class="david band">
            <img src="http://f.cl.ly/items/2x3M2d350m3r3g192a2u/Image%202015-03-08%20at%208.09.12%20PM.png"/>

            <h2>David Bittner</h2>
            <h4>Drums</h4>
          </div>




          <div class="julie band">
            <img src="http://f.cl.ly/items/3I203X1a0R0X0D071q1i/Image%202015-03-08%20at%208.01.53%20PM.png"/>

            <h2>Julie Senger</h2>
            <h4>Lead Vocals</h4>
          </div>



          <div class="jason band">
            <img src="http://f.cl.ly/items/020o0Y252z3d3R0L010B/Image%202015-03-08%20at%208.10.11%20PM.png"/>

            <h2>Jason Light</h2>
            <h4>Bass Guitar</h4>
          </div>

          <div class="andy band">
            <img src="http://f.cl.ly/items/3T243m1w2g3b212I122A/Image%202015-03-08%20at%208.16.04%20PM.png"/>

            <h2>Andy Miller</h2>
            <h4>Lead Vocals</h4>
          </div>

          <div class="mike band">
            <img src="http://f.cl.ly/items/461H0N2F1s2L3b1B2C2q/Image%202015-03-08%20at%208.11.30%20PM.png"/>
            <h2>Mike Zevitas</h2>
            <h4>Rhythm Guitar, Keyboards</h4>
          </div>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66504197-2', 'auto');
  ga('send', 'pageview');

</script>
