
    <div class="about">
      <h2> About Secret Sauce </h2>
        <p>Secret Sauce delivers high-energy party rock covers for any occasion… you’ll know every word to every song. (The more you drink, the better we sound!) </p>

<br>
<hr style="clear: both; width: 80%; margin: 0 auto;">
<br>


         <div class="doug band">
          <img src="images/doug_bio.png"/>

          <h2>Doug Moore</h2>
          <h4>Lead Guitar</h4>

          <p class="dougp">Bio Coming Soon!
          </p>
         </div>
  
<br><br>

          <div class="david band">
            <img src="images/david_bio.png"/>

        <p class="davidp">Bio Coming Soon!</p>
            <h2>David Bittner</h2>
            <h4>Drums</h4>
          </div>




          <div class="julie band">
            <img src="images/julie_bio.png"/>
          <p class="juliep">Bio Coming Soon!</p>
            <h2>Julie Senger</h2>
            <h4>Lead Vocals</h4>
          </div>



          <div class="jason band">
            <img src="images/jason_bio.png"/>
          <p class="jasonp">Bio Coming Soon!</p>
            <h2>Jason Light</h2>
            <h4>Bass Guitar</h4>
          </div>

          <div class="andy band">
            <img src="images/andy_bio.png"/>
          <p class="andyp">Bio Coming Soon!</p>
            <h2>Andy Miller</h2>
            <h4>Lead Vocals</h4>
          </div>

          <div class="mike band">
            <img src="images/mike_bio.png"/>
            <p class="mikep">Bio Coming Soon!</p>
            <h2>Mike Zevitas</h2>
            <h4>Rhythm Guitar, Keyboards</h4>
          </div>

  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66504197-2', 'auto');
  ga('send', 'pageview');

</script>
