
    <div class="about">
      <h3> About Secret Sauce </h3>
        <p>Secret Sauce delivers high-energy party rock covers for any occasion… you’ll know every word to every song. (The more you drink, the better we sound!) </p>

<br>

          <div class="doug">
          <img src="http://f.cl.ly/items/37452j18143Z1Z3b063g/Image%202015-03-08%20at%208.08.05%20PM.png"/>

          <h2>Doug Moore</h2>
          <h4>Lead Guitar</h4>
         </div>
    


          <div class="david">
            <img src="http://f.cl.ly/items/2x3M2d350m3r3g192a2u/Image%202015-03-08%20at%208.09.12%20PM.png"/>

            <h2>David Bittner</h2>
            <h4>Drums</h4>
          </div>




          <div class="julie">
            <img src="http://f.cl.ly/items/3I203X1a0R0X0D071q1i/Image%202015-03-08%20at%208.01.53%20PM.png"/>

            <h2>Julie Senger</h2>
            <h4>Lead Vocals</h4>
          </div>



          <div class="jason">
            <img src="http://f.cl.ly/items/020o0Y252z3d3R0L010B/Image%202015-03-08%20at%208.10.11%20PM.png"/>

            <h2>Jason Light</h2>
            <h4>Bass Guitar</h4>
          </div>

          <div class="andy">
            <img src="http://f.cl.ly/items/3T243m1w2g3b212I122A/Image%202015-03-08%20at%208.16.04%20PM.png"/>

            <h2>Andy Miller</h2>
            <h4>Lead Vocals</h4>
          </div>

          <div class="mike">
            <img src="http://f.cl.ly/items/461H0N2F1s2L3b1B2C2q/Image%202015-03-08%20at%208.11.30%20PM.png"/>
            <h2>Mike Zevitas</h2>
            <h4>Rhythm Guitar, Keyboards</h4>
          </div>
  </div>


