<div class="homepage">
    <div class="bandname">
        <h2><i><span class="s">S</span>ecret <span class="s">S</span>auce</i></h2>
    </div>
    <div class="quote">
    <h2><i>"The More You Drink, The Better We Sound!"</i></h2>
</div>
    	<br>
    	
    <div class="promo">
        <iframe width="650" height="340" src="https://www.youtube.com/embed/10jtG_5BetU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<br>
<br>
<br><br><br>
<div class="abouthome">
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse nesciunt error illo sit itaque delectus, aliquid? Fugiat doloribus architecto, beatae enim, vero perspiciatis quis quisquam! Officia quam, doloribus aspernatur.</p>
</div>

		<br>
		<br>


		<br>
			<hr style="clear: both; width: 80%; margin: 0 auto;">
		<br>

<section class="liveSocial">
    <div class="upcominggigs" ng-controller="GigCtrl">
        <h2>Upcoming Gigs</h2>
          <br>
        <div class="listGigs" ng-repeat=" g in gigs | orderBy: 'serialnumber'" style="border-bottom: 1px solid white; padding: 20px;">
            <h4 style="margin: 0; text-decoration: underline;"><strong>{{ g.venueName}}</strong></h4>
            <p style="margin: 4px;"><b>{{g.day}}</b></p>
            <p style="margin: 4px;">{{ g.date}} at {{g.time}}</p>
            <p style="margin: 4px;">{{ g.address}} {{g.city}}, {{g.state}}, {{g.zip}}</p>
            <p style="margin: 4px;"><a href="{{g.website}}">{{g.venueName}}'s Website</a></p>
        </div>
    </div>

    <div class="twitterFeed">
        <div class="fb-page" data-href="https://www.facebook.com/secretsauceband" data-width="400px" data-height="425px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/secretsauceband"><a href="https://www.facebook.com/secretsauceband">Secret Sauce</a></blockquote>
            </div>
        </div>
    </div>

    
</section>
            <hr style="clear: both; width: 80%; margin: 0 auto;">



<div class="mailinglist">
<form class="inputEmail" ng-submit="addMail(em)" ng-controller="MailCtrl">
  <h3 class="header">Sign Up for our Mailing List </h3>
  <h3 class="afters" style="display: none;">
  Thanks for Signing up!
  <br>
<span class="whereSS"><a ui-sref="live">Click To See Where SS is Next!</a></span>
  </h3>
  <p class="make">Chance to win free prices.</p>



        <input type="email" class="emailput" placeholder="Enter Email" ng-model="em.emailAddress"/>



   <input type="submit" id="subbtn" name="Sign-Up" value="Sign-Up">
</form>  

</div>


<script>
     
  $("form #subbtn").click('submit', function(e) {

    // e.preventDefault();   
     $('.header').fadeOut('fast');
    $('form .make').fadeOut('fast'); 
    $('form #subbtn').fadeOut('fast');
     $('form .emailput').fadeOut('fast');
    
    $('.afters').slideToggle('slow');
  });
</script>


<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</div>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-66504197-2', 'auto');
ga('send', 'pageview');
</script>
