<div class="homepage">

	<div class="promo">
		<iframe width="560" height="365" src="https://www.youtube.com/embed/grMR4InC-Ys" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="quote">
	<h2><i>"The More You Drink, The Better We Sound!"</i></h2>
</div>
<br>

<section class="liveSocial">
	
<div class="twitterFeed">
<h2>SS Twitter</h2>
	<a class="twitter-timeline" href="https://twitter.com/SecretSauceLive" data-widget-id="627592406574084096">Tweets by @SecretSauceLive</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="upcominggigs" ng-controller="GigCtrl">
	<h2>Upcoming Gigs</h2>

	    <br>
	        <div class="listGigs" ng-repeat=" g in gigs | orderBy: 'serialnumber'">
	            <h4 style="margin: 0;">{{ g.venueName}}</h4>

	            <p style="margin: 4px;">{{ g.date}} at {{g.time}}</p>
	            <p style="margin: 4px;">{{ g.address}} {{g.city}}, {{g.state}}, {{g.zip}}</p>

	            <p style="margin: 4px;"><a href="{{g.website}}">{{g.venueName}}'s Website</a></p>

	            <hr>
	        </div>
</div>



<div class="songlisthome" ng-controller="SongCtrl">
	
</div>

</section>

