<div class="livepage">

	      <div class="live" ng-controller="GigCtrl">
	    <h2>Upcoming Gigs</h2>

	    <br>



	        <div class="listGigs" ng-repeat=" g in gigs | orderBy: 'serialnumber'">
	            <h4 style="margin: 0;">{{ g.venueName}}</h4>

	            <p style="margin: 4px;">{{ g.date}} at {{g.time}}</p>
	            <p style="margin: 4px;">{{ g.address}} {{g.city}}, {{g.state}}, {{g.zip}}</p>

	            <p style="margin: 4px;"><a href="{{g.website}}">{{g.venueName}}'s Website</a></p>

	            <hr>
	        </div>
		</div>

		<div class="pastgigs" ng-controller="VenueCtrl">
			
			<h2>Past Venues Played</h2>
	<div class="venuelist" ng-repeat="v in venues">
	
	<div>
		{{ v.venue }}  

		
	
	</div>

</div>


		</div>
			
</div>