<div class="livepage">

	      <div class="live" ng-controller="GigCtrl">
	    <h2>Upcoming Gigs</h2>

	    <br>
	       <div class="listGigs" ng-repeat=" g in gigs | orderBy: 'serialnumber'">
	            <h4 style="margin: 0; text-decoration: underline;"><strong>{{ g.venueName}}</strong></h4>
            	<p style="margin: 4px;"><b>{{g.day}}</b></p>

	            <p style="margin: 4px;">{{ g.date}} at {{g.time}}</p>
	            <p style="margin: 4px;">{{ g.address}} {{g.city}}, {{g.state}}, {{g.zip}}</p>

	            <p style="margin: 4px;"><a href="{{g.website}}">{{g.venueName}}'s Website</a></p>

	        </div>
		</div>

<hr style="clear: both; width: 80%; margin: 0 auto;">
<br>
	<div class="banner1">
		<img src="images/banner1.png" style="width: 90%;">
	</div>
<br>
<hr style="clear: both; width: 80%; margin: 0 auto;">

<br>

	<!-- <div class="livebottom">
	
		<div class="pastgigs" ng-controller="VenueCtrl">
	    		<h2>Past Venues Played</h2>
	    <div class="venuelist" ng-repeat="v in venues">
	        <div>
	            {{ v.venue }}
	        </div>
	    </div>
		</div>


		<div class="songlist" ng-controller="SongCtrl">
		<h2>Song List</h2>
			<div class="songslive" ng-repeat="so in songs | orderBy : 'songtitle'">
				<div>{{so.songtitle}}  {{so.band}}</div>
			</div>

		</div>

	</div>
</div> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66504197-2', 'auto');
  ga('send', 'pageview');

</script>