<div class="mediapage" style="min-height: 800px; width: 100%;">
	
<h2>Secret Sauce Videos</h2>

<div class="owl-carousel">
    <div class="item-video" data-merge="3"><a class="owl-video" href="https://www.youtube.com/watch?v=nsqh9jHkHlM"></a></div>
    <div class="item-video" data-merge="1"><a class="owl-video" href="https://www.youtube.com/watch?v=nsqh9jHkHlM"></a></div>
    <div class="item-video" data-merge="2"><a class="owl-video" href="https://www.youtube.com/watch?v=nsqh9jHkHlM"></a></div>
    
</div>


</div>



<script>
	    $('.owl-carousel').owlCarousel({
        items:3,
        merge:true,
        loop:true,
        margin:10,
        video:true,
        lazyLoad:true,
        center:true,
        responsive:{
            480:{
                items:2
            },
            600:{
                items:4
            }
        }
    })
</script>