<header>
	<div class="headLeft">
		<a ui-sref="home"><img src="images/SSblackwhite.png" alt="Secret Sauce Live"></a>
	</div>

	<div class="headRight">
		<a ui-sref="home">Home</a>
		<a ui-sref="live">Live</a>
		<a ui-sref="media">Media</a>
		<a ui-sref="about">About</a>
		<a ui-sref="contact">Contact</a>


	</div>

	<nav>
        <span class="nav-btn"><i class="fa fa-bars fa-2x"></i></span>
        <ul class="nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="live">Live</a></li>
            <li><a ui-sref="media">Media</a></li>
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="contact">Contact</a></li>

        </ul>

    </nav>



    
    <script>
        $('.nav-btn').click(function (){
            $('.nav').slideToggle();
        });
        $('.nav').removeAttr('style');
        $(".nav li").on("click",function(){
            $('.nav').slideUp();
        });
    </script>

</header><!-- /header -->